node_modules
.sass-cache
dist
bower_components/jquery/
bower_components/font-awesome/
bower_components/animate.css/
bower_components/flexslider/
bower_components/jquery-smooth-scroll/
bower_components/waypoints/
