body {
  font-family: $font-family-verela;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
  color: #8c9398;
  font-size: 14px;
  line-height: 25px;
  word-spacing: 1px;
}

a {
  color: $color-black;
  text-decoration: none;
  transition: color .5s;
  &:hover {
    color: #3dc9b3;
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
