.btn {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  &-group > li {
    display: inline-block;
  }
  &--green {
    color: #fff;
    background-color: $color-green;
    box-shadow: 0 3px 0 0 darken($color-green, 20%);
    &:hover {
      color: #fff;
      background-color: lighten($color-green, 15%);
    }
  }
  &--social {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 17px;
    color: #fff;
    background-color: #242830;
    text-align: center;
    &:not(last-chiild) {
      margin-right: 10px;
    }
    &:hover {
      color: #fff;
      background-color: $color-green;
    }
  }
}
