.section {
  padding-top: 90px;
  padding-bottom: 100px;
  &--dark-bg {
    background-color: #f3f5f8;
  }
  &--responsive {
    @media (min-width: $screen-md) {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #fff;
    }
  }
  &--swag {
    padding-top: 50px;
    padding-bottom: 60px;
    background-image: url('../images/plants-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }
  &__heading {
    margin-bottom: 70px;
    padding-bottom: 30px;
    color: $color-black;
    background-image: url('../images/h1-bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    margin-bottom: 15px;
  }
}
