.section {
  padding-top: 90px;
  padding-bottom: 100px;
  &--dark-bg {
    background-color: #f3f5f8;
  }
  &__heading {
    margin-bottom: 70px;
    padding-bottom: 30px;
    color: $color-black;
    background-image: url('../images/h1-bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
  }
}
