.subscribe {
  &__heading {
    margin-bottom: 40px;
    color: #fff;
    font-size: 32px;
    span {
      display: block;
      margin-top: 20px;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
