// box model
.nopadding {
  padding: 0;
}

.mt70 {
  margin-top: 70px;
}

.mb0 {
  margin-bottom: 0;
}

// text
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


// animation

.delay05s {
  animation-delay: .5s;
}

.delay1s {
  animation-delay: 1s;
}
