- items = [{heading: 'creative minds'}, {heading: 'creative hearts'}, {heading: 'creative ideas'}]
section#portfolio.section
  .container
    .row
      #js-flexslider--portfolio.flex-container
        ul.slides
          - for (var i = 0; i < 2; i++)
            li
              each item, i in items
                .col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-0.col-md-4
                  .item
                    .item__image
                      img.item__img.item__img--full(src="images/item--portfolio__img-#{i+1}.jpg" alt="")
                      .item__overlay
                        a(href="#")
                          i.fa.fa-search
                          br
                          | View More
                    h2.item__heading= item.heading
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
