section.section.section--subscribe.text-center
  .container
    .row
      .col-xs-12.col-sm-offset-2.col-sm-8.col-md-offset-3.col-md-6
        .subscribe
          h2.subscribe__heading
            i.fa.fa-paper-plane
            span Subscribe to stay in the loop
          form.form
            input.form__input(type="text" name="email" required)
            input.form__submit(type="submit" value="Send")
