section.section.section--swag.text-center
  .container
    .row
      .col-xs-12.col-sm-12.col-md-offset-2.col-md-8
        .swag
          h2.swag__heading
            | I got 99 problems&nbsp
            span
              | but&nbsp
              em design&nbsp
              | 'aint one
          a#js-swag__btn.swag__btn(href="#portfolio")
            i.fa.fa-chevron-down
